/* html {
    background-color: #F8F5F2;
}
*/
/*
.navbar {
    background-color: #000B29;
} */
/* main {
    background-color: #D70026;
    color: #000;
} */

html {
    background-color: #fff;
}
.navbar {
    background-color: #2f2e33;
}

.navbar-item {
    color: #fff;
}

.navbar {
    padding: 0 1rem;
}

main {
    background-color: #d5d6d2;
    color: #000;
}

.container {
    margin: 2rem 2rem;
}

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: url('./Katahdin.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
}
